text_generation_characters/cache
text_generation_characters/characters
text_generation_characters/training/datasets
text_generation_characters/extensions/silero_tts/outputs
text_generation_characters/extensions/elevenlabs_tts/outputs
text_generation_characters/extensions/sd_api_pictures/outputs
text_generation_characters/logs
text_generation_characters/loras
text_generation_characters/models
text_generation_characters/repositories
text_generation_characters/softprompts
text_generation_characters/torch-dumps
*pycache*
*/*pycache*
*/*/pycache*
venv/
.venv/
.vscode
*.bak
*.ipynb
*.log

text_generation_characters/settings.json
text_generation_characters/img_bot*
text_generation_characters/img_me*
text_generation_characters/prompts/[0-9]*
text_generation_characters/models/config-user.yaml
