text-generation-webui/cache
text-generation-webui/characters
text-generation-webui/training/datasets
text-generation-webui/extensions/silero_tts/outputs
text-generation-webui/extensions/elevenlabs_tts/outputs
text-generation-webui/extensions/sd_api_pictures/outputs
text-generation-webui/logs
text-generation-webui/loras
text-generation-webui/models
Text-Generation-Webui/repositories
text-generation-webui/softprompts
text-generation-webui/torch-dumps
*pycache*
*/*pycache*
*/*/pycache*
venv/
.venv/
.vscode
*.bak
*.ipynb
*.log

text-generation-webui/settings.json
text-generation-webui/img_bot*
text-generation-webui/img_me*
text-generation-webui/prompts/[0-9]*
text-generation-webui/models/config-user.yaml
